*{
    margin: 0;
    padding: 0;
}


body{
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #fff;
}



a{
    text-decoration: none;
}

ul, ol{
    list-style: none;
}

img{
    display: block;
        max-width: 100%;
        height: auto;
}

button{
    cursor:pointer;
}


/* общие классы */
.container{
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* конкретные коассы */

.header-container{
    display: flex;
    align-items: center;
}


.top-header{
border-bottom: 1px solid #e7e9fc;
display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-header{
    display: flex;
    align-items: center;
}


.ul-header{
    display: flex;
    gap: 40px;

}


.address{
    display: flex;
    gap: 40px;
}

.logo{
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.logo-part{
    color: #2e2f42; 
}
.nav-link{
    color: #2e2f42;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-top: 24px;
        padding-bottom: 24px;
        display: block;
}
.nav-link:hover,
.nav-link:focus{
    color: #404bbf;
}

.address{
font-style: normal;
margin-left: auto;
}

.ul-address{
    display: flex;
    gap: 40px;
}


.address-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-link:hover,
.address-link:focus{
    color:#404bbf;
}
/* section hero */

.hero{
    background:#2e2f42;
    padding: 188px 0 188px;
}

.title-h-one{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.hero-button{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: block;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
}

.hero-button:hover{
    background-color:#404BBF;
}

.hero-button:focus{
    background-color: #404BBF;
}

/* section hero-two */


.hero-two{
    padding-bottom: 120px;
    padding-top: 120px;
}

.visually-hidden{
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
    
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.title-h-two{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
}

.ul-section-two{
    display: flex;
    gap: 24px;
}


.title-strategy{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin-bottom: 8px;
}

.li-two {
 width: calc((100% - 72px) / 4);
}


.help-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;

}

/* section hero-three */




.hero-three{
    background-color: #F4F4FD;
    padding: 120px 0 120px;
}

.title-h-three{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
    margin-bottom: 72px;
}

.ul-hero-three{
    display: flex;
    gap: 24px;
}

.li-three{
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}


.team-text-wrap{
    padding: 32px 0 32px;
    text-align: center;
}


.down{
    background-color: #2e2f42;
    padding-top: 100px;
        padding-bottom: 100px;
}

.logo{
    line-height: 1.17;
}

.logo-part-footer{
    color: #f4f4fd;
}

.logo-p{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264;
}

.team-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    text-align: center;
    margin-bottom: 8px;
}


.portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
}


.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
    margin-bottom: 72px;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}


.portfolio-list-item{
    width: calc((100% - 48px) / 3);
}

.portfolio-text-wrap{
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
}


.portfolio-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin-bottom: 8px;
}

.class-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}


.down{
    padding-top: 100px;
    padding-bottom: 100px;
}


.logo-footer{
    display: inline-block;
    margin-bottom: 16px;
}

